body {
  --bg-color: #E8E8E8;
  --text-color: black;
  --grey: #E8E8E8;
  --dark-grey: hsl(0,0%,76%);
  --key-reflection: hsl(0,0%,24%);
  --accent-color: #008282;
  --button-active-color: #D9D9D9;
  --fn-button-active-color: #B3B3B3;
  --op-button-active-color: #006969;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: black;
    --text-color: white;
    --dark-grey: hsl(0,0%,24%);
    --grey: #3D3D3D;
    --accent-color: #006969;
    --button-active-color: #3D3D3D;
    --fn-button-active-color: #525252;
    --op-button-active-color: #008282;
  }
}
